.s {
    color: blue;
}
.dua{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.tiga{
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.empat{
    font-weight: bold;
}
.lima{
    font-style: italic;
}
.enam{
    font-size: 20px;
}
